<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="utf-8">
    	<title>Ciblage marketing</title>  
    	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  	</head>
  	<body style="width: 650px;max-width: 650px;min-width: 650px; height: 550px; ">
		<script type="text/javascript" src="/conf.js"></script>
    	<div id="app"></div>
    </body>
</html>